{% load static %}
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <!-- include in django -> what is does is ,
        it hepls to render a page on other pages.
        Like here we are rendering the navbarForAll.html page in our\
        'Home', 'News', 'Contact' pages -->
        {% include 'navbarForAll.html' %}
        <!-- We are linking our css file here -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        <!-- Adding bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- We created a block code here -->
        <!-- Remember 'block' is the name of django tag and 'body' is name of your block, You can set the name of your block 
        anything you want. -->
        {% block body %} {% endblock %}
    </body>
</html>