{% extends 'base.html' %}
{% block title %} Signin {% endblock %}

{% block body %}
    <h1>This is Signin Page</h1>
    <form action="{% url 'addUser' %}" method="post">
        {% csrf_token %}
    <!-- {{ form }} -->
    <!-- If we want to see the form properly we can also use
    {{form.as_p}}    
    -->

    <form>
        <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your identity with anyone else.</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" />
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="number" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </form>
{% endblock %}